{% extends "layout.html.twig" %}

{% block body %}
	<h1>Bienvenue sur core distribution store
	</h1>

	<table>
		{% for item in items %}
			<tr>
				<td>
					<a href="{{ path('store.show', {AR_Ref : item.AR_Ref}) }}">{{item.AR_Ref}}</a>
				</td>
				<td>{{item.AR_Design}}</td>
				<td>{{item.AR_Photo}}</td>
				<td>{{item.AR_PrixVen}}</td>
				<td>{{item.FA_CodeFamille}}</td>
			</tr>
		{% endfor %}
	</table>

{% endblock %}
