{% extends "layout.html.twig" %}

{% block title item.AR_Ref %}

{% block body %}


	<h1>
		{{item.AR_Ref}}
	</h1>
	<div>{{item.AR_Design}}</div>
	<div>{{item.AR_Photo}}</div>
	<div>{{item.AR_PrixVen}}</div>
	<div>{{item.FA_CodeFamille}}</div>


{% endblock %}
